@mixin reusableButtonStyle {
    width: 12rem;
    padding: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}